html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  line-height: 1.42;
  font-size: 18px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  min-width: 1100px;
  display: flex;
  flex-direction: column;
}

.wrapper__content {
  flex: 1;
}

.container {
  margin: 0 auto;
  width: 1100px;
  display: flex;
  /*new*/
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

