.footer {
  height: 78px;
  background-color: #4b73b5;
  color: white;
  width: 100%;
}

.footer__container {
  height: 78px;
  position: relative;
  margin: 0 auto;
}
.footer__text,
.footer__text a {
  font-weight: lighter;
  /*padding: 10px 10px 0 0;*/
  width: 260px;
  /*height: 100%;*/
  font-size: 14px;
  color: white;
}
.footer__text b {
  font-weight: bold;
}
.footer__logo {
  margin: 20px 22%;
}