.page__text {
  height: 170px;
  background-image: url(../../img/green-background.jpg);
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 60px;
  transform: translate(-34%, 0);
  width: 180%;
}
.page__text a {
  font-weight: bold;
  color: white;
}
.page__text-container {
  width: 625px;
  margin: 0 auto;
}