.page__nav {
  margin-bottom: 30px;
}


.main-nav__link {
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
  color: #5685d2;
}
.main-nav__link--enable {
  text-decoration: none;
  color: #4e4c4c;
}